<!DOCTYPE html>
<html>

<head>
    <title>OTP Code</title>
</head>

<body>
    <h1>Hello, <%= fullName %>
    </h1>
    <p>Your OTP code is: <strong>
            <%= otp %>
        </strong></p>
    <p>Please use this code to complete your registration.</p>
</body>

</html>